* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.AddTask {
  display: flex;
  flex-basis: 10vh;
  width: 100%;
  justify-content: center;
  background-color: #ddd;
}
.TaskList {
  flex-basis: 50vh;
  width: 100%;
  text-align: center;
}
.DoneTask {
  flex-basis: 30vh;
  width: 100%;
  text-align: center;
}